﻿@model  ecomm.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<h1>Are u Sure Uh wanna Delete </h1>

<form method="post">

    <input name="ID" type="hidden" value="@Model.ID" />
    </br>

   

    <button type="submit">Yes Delete It</button>

</form>
<a href="/Index">Cancel</a>

